<h3 class='aside__title'>Soft Skills</h3>
<ul class='aside__softSkills'>
  <li class='aside__item'>
    <a class='aside__link' href='https://ru.wikipedia.org/wiki/Scrum' target='”_blank”'>
      <span class='aside__text'>Scrum</span>
    </a>
  </li>
  <li class='aside__item'>
    <a class='aside__link' href='https://ru.wikipedia.org/wiki/Agile' target='”_blank”'>
      <span class='aside__text'>Agile</span>
    </a>
  </li>
  <li class='aside__item'>
    <a class='aside__link' href='https://ru.wikipedia.org/wiki/GTD' target='”_blank”'>
      <span class='aside__text'>{{gtd}}</span>
    </a>
  </li>
  <li class='aside__item'>
    <span class='aside__text'>{{logicalThinking}}</span>
  </li>
  <li class='aside__item'>
    <span class='aside__text'>{{teamwork}}</span>
  </li>
  <li class='aside__item'>
    <span class='aside__text'>{{stressTolerance}}</span>
  </li>
  <li class='aside__item'>
    <span class='aside__text'>{{creative}}</span>
  </li>
  <li class='aside__item'>
    <span class='aside__text'>{{selfOrganization}}</span>
  </li>
  <li class='aside__item'>
    <span class='aside__text'>{{problemSolving}}</span>
  </li>
</ul>